<div class="math-grid"></div>

<header class="site-header">
  <div class="ui container">
    <div class="ui middle aligned unstackable grid">
      <div class="eight wide column">
        <div class="brand">
          <img src="/images/logo.svg" width="50px" alt="Vitro Logo">
          <div class="brand-dot"></div>
          <a href="/">VITRO MEDIA LAB</a>
        </div>
      </div>
      <div class="eight wide column right aligned">
        <nav>
          <a href="/contact.html" class="nav-link-custom">Contact</a>
        </nav>
      </div>
    </div>
  </div>
</header>
